.characteristic-container {
  font-family: 'GmarketSansMedium';
}

.character-link{
  font-family: 'GmarketSansBold';
}

.mbti-page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 50px;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.mbti-header {
  margin-bottom: 20px;
}

.mbti-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mbti-subtitle {
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.mbti-image {
  width: 100%;
  margin: 0 auto 20px;
}

.mbti-description {
  text-align: center;
  margin-bottom: 15px;
}

.mbti-description h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.mbti-description p {
  margin-bottom: 15px;
}

.personal-color {
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  text-align: center;
}

.personal-color-title {
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

.personal-color-bar {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, #505050, #000080);
}

.title:hover {
  transform: scale(1.05);
}

.characteristic-block{
  margin-top: 80px;
}
.characteristic-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.characteristic-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
  cursor: pointer;
}

.characteristic-section h1:hover {
  transform: scale(1.05);

}

.characteristic-section p {
  font-size: 16px;
  max-width: 800px;
}

.ISTJ {
  background: linear-gradient(to right, #505050, #000080);
  color: #fff;
}

.ISFJ {
  background: linear-gradient(to right, #f5f5dc, #228b22);
  color: #000000;
}

.INFJ {
  background: linear-gradient(to right, #dda0dd, #6a0dad);
  color: #fff;
}

.INTJ {
  background: linear-gradient(to right, #36454f, #800020);
  color: #fff;
}

.ISTP {
  background: linear-gradient(to right, #808080, #cd7f32);
  color: #fff;
}

.ISFP {
  background: linear-gradient(to right, #fbceb1, #800080);
  color: #000;
}

.INFP {
  background: linear-gradient(to right, #ffd1dc, #e6e6fa);
  color: #000;
}

.INTP {
  background: linear-gradient(to right, #c0c0c0, #7df9ff);
  color: #fff;
}

.ESTP {
  background: linear-gradient(to right, #ff7f50, #ffd700);
  color: #fff;
}

.ESFP {
  background: linear-gradient(to right, #ff69b4, #ffa500);
  color: #000;
}

.ENFP {
  background: linear-gradient(to right, #32cd32, #30d5c8);
  color: #000;
}

.ENTP {
  background: linear-gradient(to right, #7fffd4, #0f52ba);
  color: #fff;
}

.ESTJ {
  background: linear-gradient(to right, #4682b4, #8b4513);
  color: #fff;
}

.ESFJ {
  background: linear-gradient(to right, #ffffe0, #ffa07a);
  color: #000;
}

.ENFJ {
  background: linear-gradient(to right, #ffd700, #8b0000);
  color: #fff;
}

.ENTJ {
  background: linear-gradient(to right, #8b0000, #000000);
  color: #fff;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  max-width: 800px;
}

.scroll-buttons-c {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.scroll-btn-c {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-buttons-c {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-btn-c {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 2px 0;
  text-align: left;
}

.section-btn-c:hover {
  background-color: #ddd;
}