body,
html {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.questionnaire-container {
  font-family: 'GmarketSansMedium';
  margin-top: 80px;
}
.mtest-link{
  font-family: 'GmarketSansBold';
}
.question-block {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 25px;
}

.answer-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;

}

.submit-button {
  background-color: #ff007f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.submit-button:hover {
  background-color: #e0006f;
}

h1 {
  font-family: 'GmarketSansMedium';
  text-align: center;
  margin-top: 25px;
  font-size: 24px;
}

.answers .answer-option:nth-of-type(1) input[type="radio"] {
  width: 50px;
  height: 50px;
}

.answers .answer-option:nth-of-type(2) input[type="radio"] {
  width: 37.5px;
  height: 37.5px;
}

.answers .answer-option:nth-of-type(3) input[type="radio"] {
  width: 25px;
  height: 25px;
}

.answers .answer-option:nth-of-type(4) input[type="radio"] {
  width: 37.5px;
  height: 37.5px;
}

.answers .answer-option:nth-of-type(5) input[type="radio"] {
  width: 50px;
  height: 50px;
}

.radio-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.radio-block input[type="radio"] {
  width: 100%;
  height: 100%;
}

.option-block {
  text-align: center;
  margin-top: 10px;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 100%;
  background-color: #eee;
  height: 10px;
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: rgb(122, 122, 132);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.progress-percentage {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}