.mbti-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: white;
}

.mbti-content {
  display: flex;
  background: #FFFFF0;
  padding: 20px;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.mbti-image-section {
  padding-right: 20px;
}

.mbti-image {
  width: 400px;
  height: 400px;
  padding: 10px;
}

.mbti-info {
  flex-grow: 1;
}

.mbti-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mbti-subtitle {
  font-size: 24px;
  color: grey;
  margin-bottom: 20px;
  text-align: center;
}

.mbti-text {
  font-size: 16px;
  margin-bottom: 30px;
}

.personal-color-bar {
  height: 20px;
  background: linear-gradient(to right, #36454f, #800020);
  border-radius: 5px;
}

.button-wrapper-characteristic{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.back-btn {
  background-color: #605d5d26;
  color: #070707;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px 11px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn:hover {
  transform: scale(1.03);
  background: #605a5a61;
}

.save-btn{
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px 11px;
  cursor: pointer;
  font-weight: bold;
}