.main-container {
  font-family: 'GmarketSansMedium';
}

.board-link{
  font-family: 'GmarketSansBold';
}
.board-container {
  height: calc(100vh - 80px);
}

option{
  font-family:'GmarketSansMedium';
}
input{
  font-family: 'GmarketSansMedium';
}
select{
  font-family: 'GmarketSansMedium';
}
textarea{
  font-family: 'GmarketSansMedium';
}
.sidebar {
  width: 256px;
  height: 100%;
  background-color: #d9d9d9;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 25px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar button:hover {
  transform: scale(1.05);
  text-decoration: underline;
  background-color: gray;

}

.board-section {
  flex: 1;
  padding: 20px;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
}

.board-table th,
.board-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.board-table th {
  background-color: #f2f2f2;
}

.board-table th {
  background-color: #f2f2f2;
}

/* Add fixed width for each column */
.board-table th:nth-child(1),
.board-table td:nth-child(1) {
  width: 30%;
}

.board-table th:nth-child(2),
.board-table td:nth-child(2) {
  width: 15%;
}

.board-table th:nth-child(3),
.board-table td:nth-child(3) {
  width: 10%;
}

.board-table th:nth-child(4),
.board-table td:nth-child(4) {
  width: 15%;
}

.board-table th:nth-child(5),
.board-table td:nth-child(5) {
  width: 10%;
}

.board-table th:nth-child(6),
.board-table td:nth-child(6) {
  width: 10%;
}

.board-table th:nth-child(7),
.board-table td:nth-child(7) {
  text-align: center;
  width: 10%;
}

.apply-btn,
.reset-btn,
.search-btn {
  min-width: 104px;
  background-color: #1a191926;
  color: #3d3939;
  border: none;
  border-radius: 8px;
  padding: 8px 11px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
}

.apply-btn:hover,
.reset-btn:hover,
.search-btn:hover {
  transform: scale(1.03);
  background: #1b1b1b61;
}

.view-btn {
  min-width: 104px;
  background-color: #1a191926;
  color: #3d3939;
  border: none;
  border-radius: 8px;
  padding: 8px 11px;
  cursor: pointer;
  font-weight: bold;
}

.view-btn:hover {
  transform: scale(1.03);
  background: #1b1b1b61;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 15px;
}

.post-start {
  margin-top: 20px;
  text-align: right;
}

.post-btn {
  min-width: 104px;
  background-color: #1a191926;
  color: #3d3939;
  border: none;
  border-radius: 8px;
  padding: 8px 11px;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
}

.post-btn:hover {
  transform: scale(1.03);
  background: #1b1b1b61;
}

.board-container {
  display: flex;
}

.board-section h1 {
  font-size: 48px;
  text-align: center;
}

.sort-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.sort-options label {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sort-options select {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #000;
  background-color: #ffffff;
}

.search-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.search-options input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000;
  margin-right: 10px;
}