body,
html {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.result-page {
  font-family: 'GmarketSansMedium';
  text-align: center;
  margin-top: 150px;
}

.chart-container {
  margin: 40px auto;
  width: 80%;
  max-width: 800px;
}

.mbti-type-description {
  margin: 40px auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.mbti-type-description h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mbti-type-description p {
  font-size: 16px;
  margin-bottom: 20px;
}

.image-container {
  margin: 30px auto;
  width: 400px;
  height: 400px;
}

.image-container img {
  width: 100%;
}

.characteristic-btn {
  background-color: #00000071;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.characteristic-btn:hover {
  transform: scale(1.03);
  background: #00000056;
}

.mbti-subtitle {
  font-size: 18px;
  color: grey;
  margin-bottom: 20px;
  text-align: center;
}

.mbti-image {
  width: 400px;
  height: 400px;
  padding: 10px;
}

.kakao-share-btn {
  background-color: #FEE500; /* 카카오톡 노란색 */
  color: #3C1E1E; /* 카카오톡 로고 색상 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}

.kakao-share-btn:hover {
  background-color: #E5C700;
  text-decoration: underline;

}

.save-image-btn {
  background-color: #4CAF50; /* 초록색 */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}

.save-image-btn:hover {
  background-color: #45A049;
  text-decoration: underline;
}